<!doctype html>
<html lang="fr">
  <head>
    <%- include partials/head.ejs %>
  </head>
  <body>
    <section id="login">
      <form class="login" name="dailyform" action="login" method=POST>
        <div class="field">
          <input type="text"
                 required=""
                 class="username"
                 name="username"
                 placeholder="Identifiant"
                 autocomplete="on"
                 spellcheck="false"
                 autocorrect="off"
                 autocapitalize="off"
                 maxlength="1024">
          <div class="input-underline"></div>
        </div>
        <div class="field">
          <input type="password"
                 required=""
                 class="password"
                 name="password"
                 placeholder="Mot de passe"
                 autocomplete="on"
                 spellcheck="false"
                 autocorrect="off"
                 autocapitalize="off"
                 maxlength="1024">
          <button type="submit" class="btn" style="margin-top: 0;">Go!</button>
          <div class="input-underline"></div>
        </div>
      </form>
    </section>
  </body>
</html>